/*****************/
/** PAGE STYLES **/
/*****************/

html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    font-weight: 400;
}

body {
    background-image: url(/assets/img/background_dark.png);       
    /* background-repeat: repeat;
    background-size: 75%;        */
    margin: 0;         
}

/** Remove up arrows from number input fields **/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

h1 {
    font-size: 5rem;
}

h5 {
    font-size: 3rem;
    margin: 0;
}

h6 {
    font-size: 1.8rem;
    font-weight: 400;
    margin: 0;
}

label {
    font-size: 2rem;
}

button {
    color: white;
    border: none;
    font-size: 2.5rem;
    padding: 1rem 2rem;
    box-shadow: inset 2px 2px 8px;
    border-radius: 5px;
    font-weight: 400;    
}

/*****************/
/** TOP SECTION **/
/*****************/

.hero {       
    max-width: 80rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding: 1rem;    
}

.hero img {
    width: 100%;
    margin: 1rem 0;
}

.inputWrapper {
    display: flex;
    width: 90%;
    margin: 1rem auto;  
    justify-content: center;
}

.hero label {       
    font-size: 2rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
}

.hero input {
    color: #35B897;
    width: 1.5rem;
    height: 1.5rem;
    padding: 1rem;
    font-size: 2rem;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;    
}

#startBtn,
#playAgainBtn {
    background: #4193B5;
    margin-right: 0.5rem;    
}

#startBtn:hover,
#playAgainBtn:hover {
    background: #D9E9F0;
    color: #4193B5;
    box-shadow: none;
}

#resetBtn,
#resetBtnBottom {    
    background: #FF7B7B;
    margin-left: 0.5rem;
    display: none;    
}

#resetBtn:hover,
#resetBtnBottom:hover {
    color: #FF7B7B;
    background: #FFE4E4;
    box-shadow: none;
}

/*****************/
/** LANDING PAGE INFORMATION **/
/*****************/

.landing-info {
    width: 75%;
    margin: 0 auto;    
    justify-content: center;
}

.landing-info h2,
.landing-info p {
    display: block;
}

.landing-info p {
    width: 50%;
}


/*****************/
/** TABLE **/
/*****************/

.table-container {
    /* background-image: url(/assets/img/background_dark.png);       
    background-repeat: repeat;
    background-size: 75%; */
    display: none;
    overflow-x: auto;    
    width: 100%;
    box-sizing: border-box;
    padding: 1.5rem;
    position: relative;
    min-height: 800px;      
}

table {
    margin: 0 auto;       
    font-size: 2rem;
    text-align: center; 
    border-spacing: 0;
    border-collapse: separate;    
}

table input {
    width: 10rem;
    height: 100%;    
    font-size: 2rem;
    text-align: center;    
    border: none;
    background: none;
}

table input:focus {
    background: #DBE3E0;
}

table div span {
    font-size: 1.1rem;
    display: block;
    margin-top: 0.5rem;
} 
table tr {
    height: 50px;
}

table td,
table th {    
    box-sizing: border-box; 
    height: 100%;
    background: white;
    font-weight: 400;
    font-size: 2rem;    
}

/** Cell Borders **/

table th {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

table td {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

table th:first-child,
table td:first-child {
    border-left: 1px solid black;
}

table tr th:first-of-type,
table tr td:first-of-type {
    min-width: 21rem;
    padding: 0.5rem 0rem 0.5rem 1rem;
    text-align: left;
}

table tr td:first-of-type span {
    font-size: 1.1rem;
}

th input {
    font-size: 2rem;
}

.info-field {    
    align-items: center;   
}

.info-field div {
    height: 100%;    
}

.info-text {   
    float: left;    
}

.info-field img {
    float: right;        
    width: 4rem;
    margin: 0 1rem;
}

/** Bonus row custom colour **/
#row9 td + td {
    color: #FF7B7B;
}

/** Totals custom color **/
#row8 td + td,
#row10 td + td,
#row18 td + td,
#row19 td + td,
#row20 td + td {
    color: #35B897;
}

/** Grand total row **/
#row20 td +td {
    font-size: 3rem;
}

/** Upper & Lower Section Seperator **/
.table-seperator td {
    color: white;
    background: #35B897;
    height: 3rem;
    border-right: none;
    border-left: none;
}

.table-seperator td:first-of-type {
    border-left: 1px solid black;
}

.table-seperator td:last-of-type {
    border-right: 1px solid black;
}

/** Stick the first column so it is always visible **/

.table-container table td:first-child,
.table-container table th:first-child {
    position: -webkit-sticky;
    position: sticky;
    left: 0;    
}

/* * Stick header row so it is always visible **/
.table-container thead {
    position: -webkit-sticky;
    position: sticky;
    z-index: 99;
    top: 0;
}

.table-container table tr th:first-child {
    z-index: 100;
}


/** PLAY AGAIN BUTTON **/

.lower-btn-surround {
    display: flex;
    justify-content: center;
    padding-bottom: 1.5rem;
}

#playAgainBtn {
    display: none;
}


/** MEDIA QUERIES **/

@media screen and (max-width: 500px) {

    .table-container {
        padding-left: 0;
        padding-top: 0;
        max-height: 500px;
    }
}
